/****** General ***********/
:root {
  --main-color: #9356dc;
  --second-color: #ff79da;
  --main-bg-color: #F6F6F6;
  --text-color-grey: #353535;
}

/******Header*********/
body {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
}

.main-container {
  box-sizing: border-box;
  width: 100%;
}

header {
  display: flex;
  gap: 9rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
header .img {
  display: flex;
  justify-content: center;
}
header .homepage {
  border: none;
  margin-left: 4rem;
  background-color: white;
  cursor: pointer;
}

.fa-solid.fa-arrow-left {
  color: rgb(53, 53, 53);
  font-size: 4rem;
}

.background-img {
  width: 100%;
  height: 45rem;
  -o-object-fit: cover;
     object-fit: cover;
}

/**************SECTION_MENU************/
.menu-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(246, 246, 246);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  position: relative;
  margin-top: -150px;
}
.menu-card h1 {
  font-family: "Shrikhand", serif;
  font-size: 4rem;
  margin-left: 2rem;
}
.menu-card h2 {
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  margin-left: 2rem;
  border-bottom-style: solid;
  border-color: rgb(153, 226, 208);
  border-width: 8px;
}
.menu-card .entries, .menu-card .plates, .menu-card .desserts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding-left: 3%;
  padding-right: 3%;
  margin-top: 1rem;
  margin-bottom: 6rem;
}

.choice-your-meal {
  width: 100%;
  height: 12rem;
  font-weight: bold;
  font-size: 2.5rem;
  border-radius: 50px;
  box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1);
  background-color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  text-align: left;
}
.choice-your-meal h3 {
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
  margin: 1rem 0rem 1rem 0rem;
}
.choice-your-meal p {
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  margin: 0;
}

.entrie-and-price, .plate-and-price, .dessert-and-price {
  display: flex;
}
.entrie-and-price .entrieName, .entrie-and-price .plateName, .entrie-and-price .dessertName, .plate-and-price .entrieName, .plate-and-price .plateName, .plate-and-price .dessertName, .dessert-and-price .entrieName, .dessert-and-price .plateName, .dessert-and-price .dessertName {
  width: 90%;
  margin-bottom: 2rem;
  margin-left: 2rem;
}
.entrie-and-price .price, .plate-and-price .price, .dessert-and-price .price {
  width: 10%;
  color: rgb(53, 53, 53);
  margin-top: 5.5rem;
}

.buttonSearch {
  text-align: center;
  height: 9rem;
  width: 35rem;
  font-size: 2.5rem;
  color: white;
  background: linear-gradient(193.33deg, #FF79DA -11.44%, #9356DC 123.93%);
  border-radius: 100px;
  cursor: pointer;
  border: none;
  box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
  margin: 1rem 13rem 6rem;
}

/***********Footer************/
.footer-info {
  background-color: var(--text-color-grey);
}

.footer-info img {
  width: 16rem;
  filter: brightness(100);
  font-size: 4rem;
  padding: 4rem 4rem 0rem;
}

.footer-info ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 2.4rem;
  list-style-type: none;
  padding: 0rem 0rem 4rem 4rem;
  margin-bottom: 0;
}

.footer-info a {
  color: white;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

.footer-info .fa-solid {
  color: white;
  padding-right: 2rem;
}/*# sourceMappingURL=style-restaurant-p2.css.map */