/****** General ***********/
:root {
  --main-color: #9356dc;
  --second-color: #ff79da;
  --main-bg-color: #F6F6F6;
  --text-color-grey: #353535;
}

/******Header*********/
body {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
}

.main-container {
  box-sizing: border-box;
  width: 100%;
}

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 3rem;
}
header .img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}

.search-bar {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  height: 8.5rem;
  background-color: #EAEAEA;
  box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
}

.myform {
  display: flex;
  align-items: center;
  margin-left: 11rem;
}
.myform .location {
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  background-color: #EAEAEA;
  color: var(text-color-grey);
  border: none;
  margin-left: 1rem;
}
.myform .fa-location-dot {
  font-size: 2.5rem;
  color: var(--text-color-grey);
}

.restaurant-search {
  text-align: center;
  background-color: var(--main-bg-color);
  padding-top: 0.2rem;
  padding-bottom: 8rem;
}
.restaurant-search h1 {
  font-size: 4rem;
  font-family: "Roboto", sans-serif;
  margin: 6rem 9rem 3rem;
}
.restaurant-search p {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  color: var(--text-color-grey);
  margin-bottom: 4rem;
}

.buttonRestaurant {
  text-align: center;
  height: 9rem;
  width: 35rem;
  font-size: 2.5rem;
  color: white;
  background: linear-gradient(193.33deg, #FF79DA -11.44%, #9356DC 123.93%);
  border-radius: 100px;
  cursor: pointer;
  border: none;
  box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
}

.different-steps h1 {
  margin-top: 6rem;
  margin-left: 3rem;
  font-size: 4rem;
  font-family: "Roboto", sans-serif;
}

.buttonSteps {
  margin-left: 5rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.btn-step {
  width: 52rem;
  height: 12rem;
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;
  border-radius: 50px;
  background-color: var(--main-bg-color);
  box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.15);
  border: none;
  cursor: pointer;
}

.numberBadge1,
.numberBadge2,
.numberBadge3 {
  position: absolute;
  left: 3rem;
  font-size: 2.2rem;
  font-weight: normal;
  line-height: 20px;
  color: white;
  background-color: var(--main-color);
  padding: 20px;
  border-radius: 100px;
}

.numberBadge1 {
  top: 84rem;
}

.numberBadge2 {
  top: 100rem;
}

.numberBadge3 {
  top: 116rem;
}

.fa-solid.fa-mobile-screen-button {
  color: rgb(126, 126, 126);
  font-size: 3rem;
  margin-right: 2.8rem;
}

.fa-solid.fa-list {
  color: rgb(126, 126, 126);
  font-size: 3rem;
  margin-right: 3.8rem;
}

.fa-solid.fa-store {
  color: var(--main-color);
  font-size: 3rem;
  margin-right: 3rem;
}

.restaurant {
  background-color: #f8f8f8;
  margin-top: 8rem;
}

.restaurant h1 {
  font-size: 4rem;
  font-family: "Roboto", sans-serif;
  margin-top: 12rem;
  padding-top: 8rem;
  margin-left: 3rem;
  margin-bottom: 0rem;
}

/***********Restaurant Cards**********/
.card-link {
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  text-decoration-line: none;
}

.restaurant-cards {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--main-bg-color);
  padding-bottom: 12rem;
}

.newBadge {
  position: absolute;
  top: 4rem;
  right: 4rem;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: rgb(0, 135, 102);
  text-align: center;
  background-size: 5rem 2rem;
  background-color: rgb(153, 226, 208);
  padding: 1rem;
  border-radius: 4px;
}

.card-content {
  width: 100%;
  height: 30%;
}

.restaurant-cards .card {
  width: 55rem;
  height: 41rem;
  background-color: white;
  border-radius: 50px;
  margin: 3rem;
  margin-bottom: 0px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.restaurant-cards img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 50px 50px 0px 0px;
}

.restaurant h2 {
  font-family: "Roboto", sans-serif;
  font-size: 3.1rem;
  color: black;
  margin-left: 2rem;
  margin-bottom: 0.5rem;
}

.restaurant p {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  color: var(--text-color-grey);
  margin-left: 2rem;
  margin-top: 0rem;
}

/***********Footer************/
.footer-info {
  background-color: var(--text-color-grey);
}
.footer-info img {
  width: 16rem;
  filter: brightness(100);
  font-size: 4rem;
  padding: 4rem 4rem 0rem;
}

.footer-info ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 2.4rem;
  list-style-type: none;
  padding: 0rem 0rem 4rem 4rem;
  margin-bottom: 0;
}

.footer-info a {
  color: white;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

.footer-info .fa-solid {
  color: white;
  padding-right: 2rem;
}

/*# sourceMappingURL=style.css.map */
