/****** General ***********/

$font-family-general: 'Roboto', sans-serif;
$btn-gradiant: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);



:root {
  --main-color: #9356dc;
  --second-color: #ff79da;
  --main-bg-color: #F6F6F6;
  --text-color-grey: #353535;
  --light-green: #99E2D0;

}

@mixin title-style {
  font-size: 24px;
  font-family: $font-family-general;
}

@mixin display-style {
  display: flex;
  justify-content: center;
}

@mixin btn-style {
  text-align: center;
  padding: 16px 20px;
  font-size: 16px;
  color: white;
  background: $btn-gradiant;
  border-radius: 100px;
  cursor: pointer;
  border: none;
  box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.3);

  &:hover {
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.6);
    opacity: 0.8;
  }

}

/******Header*********/


body {
  @include display-style;
  width: 100%;
  margin: 0;
}

.main-container {
  box-sizing: border-box;
  width: 100%;
}



header {
  width: 100%;
  @include display-style;
  flex-direction: column;

  & img {
    @include display-style;
    align-items: center;
    width: 50%;
    margin: auto;
  }
}

.search-bar {
  font-family: $font-family-general;
  @include display-style;
  justify-content: center;
  margin-top: 6%;
  width: 100%;
  height: 50px;
  background-color: #EAEAEA;
  box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
}

.myform {
  display: flex;
  align-items: center;
  gap: 4%;
  padding-left: 14%;

  & .location {
    font-family: $font-family-general;
    font-size: 16px;
    font-weight: bold;
    background-color: #EAEAEA;
    color: var(--text-color-grey);
    border: none;

  }



  & .fa-location-dot {
    font-size: 16px;
    color: var(--text-color-grey);
  }
}


.restaurant-search {
  text-align: center;
  background-color: var(--main-bg-color);
  padding: 10% 0% 12% 0%;



  & h1 {
    @include title-style;
    margin: 0;
  }


  & p {
    font-family: $font-family-general;
    font-size: 18px;
    color: var(--text-color-grey);
    margin-bottom: 24px;
  }
}

.buttonRestaurant {
  @include btn-style;
}

.different-steps {
  margin-bottom: 18%;

  & h1 {
    margin-top: 12%;
    padding-left: 4%;
    @include title-style;
  }
}

.buttonSteps {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  gap: 25px;

}

.btn-step {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 322px;
  height: 72px;
  font-weight: bold;
  font-size: 16px;
  border-radius: 20px;
  background-color: var(--main-bg-color);
  box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.15);
  border: none;
  cursor: pointer;
}


.numberBadge {

  position: absolute;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  color: white;
  background-color: var(--main-color);
  padding: 3px;
  border-radius: 100px;
  width: 20px;
  left: 4%;
  ;


}

.fa-solid.fa-mobile-screen-button {
  color: rgba(126, 126, 126, 1);
  font-size: 18px;
  margin-right: 4%;
}


.fa-solid.fa-list {
  color: rgba(126, 126, 126, 1);
  font-size: 18px;
  margin-right: 6%;
}

.fa-solid.fa-store {
  color: var(--main-color);
  font-size: 18px;
  margin-right: 5%;
}

.restaurant {
  background-color: #f6f6f6;
  margin-top: 8rem;
  display: flex;
  flex-wrap: wrap;
  align-content: center;

}

.restaurant h1 {
  @include title-style;
  padding-top: 4%;
  padding-left: 4%;
  margin-bottom: 0rem;
}

/***********Restaurant Cards**********/


.card-link {
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  text-decoration-line: none;
}


.restaurant-cards {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--main-bg-color);
  padding-bottom: 20%;
}

.newBadge {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 14px;
  font-weight: 500;
  font-family: $font-family-general;
  color: rgba(0, 135, 102, 1);
  text-align: center;
  background-color: var(--light-green);
  border-radius: 4px;
  padding: 8px 12px 8px 12px;

}

.card-content {
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
  height: 30%;
}

.restaurant-cards .card {
  width: 340px;
  height: 250px;
  background-color: white;
  border-radius: 15px;
  margin: 1rem 1rem 0 1rem;
  margin-bottom: 0px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}


.restaurant-cards img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}

.restaurant h2 {
  font-family: $font-family-general;
  font-size: 18px;
  color: black;
  padding: 12px 0 0 18px;
  margin: 0;
}

.restaurant p {
  font-family: $font-family-general;
  font-size: 17px;
  color: var(--text-color-grey);
  padding: 0px 0px 0px 18px;
  margin: 0;
}

.iconLike {
  border: none;
  display: flex;
  align-items: center;

  & .btn-like {
    border: none;
    background-color: white;
    font-size: 24px;
    cursor: pointer;


    & .fa-regular.fa-heart {

      position: absolute;

    }

    & .fa-solid.fa-heart {
      opacity: 0;
      transition: all 1.5s ease 0s;



      &:hover {
        opacity: 1;
        background: linear-gradient(#9356DC -11.44%, #FF79DA 123.93%);
        background-clip: border-box;
        -webkit-background-clip: text;
        color: transparent;
        z-index: 2;
        position: relative;
        bottom: 1px;

      }

    }

  }
}

/***********Footer************/



.footer-info {
  background-color: var(--text-color-grey);

  img {
    height: 18px;
    filter: brightness(100);
    padding: 8% 0 0 6%;
  }

}

.footer-info ul {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 16px;
  list-style-type: none;
  padding: 0 0 6% 6%;
  margin-bottom: 0;

}

.footer-info a {
  color: white;
  text-decoration: none;
  font-family: $font-family-general;
}

.footer-info .fa-solid {
  color: white;
  padding-right: 10px;

}




/*************MEDIA QUERIES***************/

/* Medium devices (tablets, less/equal than 1024px) */
@media (min-width: 768px) {


  header img {
    width: 192px;
  }

  .myform {
    padding-right: 7%;
  }

  .restaurant-search {
    text-align: center;
    padding: 8% 0 6% 0;
  }

  .different-steps {

    & h1 {
      display: flex;
      justify-content: center;
      margin-top: 8%;
    }

  }

  .buttonSteps {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 6%;

  }

  .numberBadge {
    left: 27%;
  }

  .different-steps {
    margin-bottom: 10%;
  }

  .restaurant h1 {

    width: 100%;
    display: flex;
    justify-content: center;
    padding: 4% 0 4% 0%;

  }

  .restaurant,
  .restaurant-cards {
    display: flex;
    flex-wrap: wrap;
    align-content: center;

  }

  .restaurant-cards .card {
    width: 450px;
  }

  .restaurant-cards {
    padding-bottom: 10%;
  }

  .footer-info ul {
    flex-direction: row;
    gap: 10px;
    margin-bottom: 0;
    padding-left: 10%;

  }

  .footer-info img {
    padding-left: 10%;
  }
}


@media only screen and (min-width : 1224px) {

  /******Header*********/


  body {
    @include display-style;
    width: 100%;
    margin: 0;
  }


}