/****** General ***********/
:root {
  --main-color: #9356dc;
  --second-color: #ff79da;
  --main-bg-color: #F6F6F6;
  --text-color-grey: #353535;
  --light-green: #99E2D0;
}

/******Header*********/
body {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
}

.main-container {
  box-sizing: border-box;
  width: 100%;
}

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
header .logo {
  display: flex;
  justify-content: center;
}
header .logo img {
  width: 200px;
  height: 36px;
}

.search-bar {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  justify-content: center;
  margin-top: 6%;
  width: 100%;
  height: 50px;
  background-color: #EAEAEA;
  box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
}

.myform {
  display: flex;
  align-items: center;
  gap: 4%;
  padding-left: 14%;
}
.myform .location {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: bold;
  background-color: #EAEAEA;
  color: var(--text-color-grey);
  border: none;
}
.myform .fa-location-dot {
  font-size: 16px;
  color: var(--text-color-grey);
}

.restaurant-search {
  text-align: center;
  background-color: var(--main-bg-color);
  padding: 10% 0% 12% 0%;
}
.restaurant-search h1 {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  margin: 0;
}
.restaurant-search p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: var(--text-color-grey);
  margin-bottom: 24px;
}

.buttonRestaurant {
  text-align: center;
  padding: 16px 20px;
  font-size: 16px;
  color: white;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  border-radius: 100px;
  cursor: pointer;
  border: none;
  box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.3);
}
.buttonRestaurant:hover {
  box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.6);
  opacity: 0.8;
}

.different-steps {
  margin-bottom: 18%;
}
.different-steps h1 {
  margin-top: 12%;
  padding-left: 4%;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}

.buttonSteps {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  gap: 25px;
}

.btn-step {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 322px;
  height: 72px;
  font-weight: bold;
  font-size: 16px;
  border-radius: 20px;
  background-color: var(--main-bg-color);
  box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.15);
  border: none;
  cursor: pointer;
}

.numberBadge {
  position: relative;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  color: white;
  background-color: var(--main-color);
  padding: 3px;
  border-radius: 100px;
  width: 20px;
  right: 85%;
}

.fa-solid.fa-mobile-screen-button {
  color: rgb(126, 126, 126);
  font-size: 18px;
  margin-right: 4%;
}

.fa-solid.fa-list {
  color: rgb(126, 126, 126);
  font-size: 18px;
  margin-right: 6%;
}

.fa-solid.fa-store {
  color: var(--main-color);
  font-size: 18px;
  margin-right: 5%;
}

.restaurant {
  background-color: #f6f6f6;
  margin-top: 8rem;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.restaurant h1 {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  padding-top: 4%;
  padding-left: 4%;
  margin-bottom: 0rem;
}

/***********Restaurant Cards**********/
.card-link {
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  text-decoration-line: none;
}

.restaurant-cards {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--main-bg-color);
  padding-bottom: 20%;
  align-items: center;
}

.newBadge {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 14px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  color: rgb(0, 135, 102);
  text-align: center;
  background-color: var(--light-green);
  border-radius: 4px;
  padding: 8px 12px 8px 12px;
}

.card-content {
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
  height: 30%;
}

.restaurant-cards .card {
  width: 340px;
  height: 250px;
  background-color: white;
  border-radius: 15px;
  margin: 1rem 1rem 0 1rem;
  margin-bottom: 0px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.restaurant-cards img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}

.restaurant h2 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: black;
  padding: 12px 0 0 18px;
  margin: 0;
}

.restaurant p {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  color: var(--text-color-grey);
  padding: 0px 0px 0px 18px;
  margin: 0;
}

.iconLike {
  border: none;
  display: flex;
  align-items: center;
}
.iconLike .btn-like {
  border: none;
  background-color: white;
  font-size: 24px;
  cursor: pointer;
}
.iconLike .btn-like .fa-regular.fa-heart {
  position: absolute;
}
.iconLike .btn-like .fa-solid.fa-heart {
  opacity: 0;
  transition: all 1.5s ease 0s;
}
.iconLike .btn-like .fa-solid.fa-heart:hover {
  opacity: 1;
  background: linear-gradient(#9356DC -11.44%, #FF79DA 123.93%);
  background-clip: border-box;
  -webkit-background-clip: text;
  color: transparent;
  z-index: 2;
  position: relative;
  bottom: 1px;
}

/***********Footer************/
.footer-info {
  background-color: var(--text-color-grey);
}
.footer-info img {
  height: 18px;
  filter: brightness(100);
  padding: 8% 0 0 6%;
}

.footer-info ul {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 16px;
  list-style-type: none;
  padding: 0 0 6% 6%;
  margin-bottom: 0;
}

.footer-info a {
  color: white;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

.footer-info .fa-solid {
  color: white;
  padding-right: 10px;
}

/*************MEDIA QUERIES***************/
/* Medium devices (tablets, less/equal than 1024px) */
@media (min-width: 768px) {
  header img {
    width: 192px;
  }
  .myform {
    padding-right: 7%;
  }
  .restaurant-search {
    text-align: center;
    padding: 8% 0 6% 0;
  }
  .different-steps h1 {
    display: flex;
    justify-content: center;
    margin-top: 8%;
  }
  .buttonSteps {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 6%;
  }
  .different-steps {
    margin-bottom: 10%;
  }
  .restaurant h1 {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 4% 0 4% 0%;
  }
  .restaurant,
  .restaurant-cards {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
  }
  .restaurant-cards .card {
    width: 450px;
  }
  .restaurant-cards {
    padding-bottom: 10%;
  }
  .footer-info ul {
    flex-direction: row;
    gap: 10px;
    margin-bottom: 0;
    padding-left: 10%;
  }
  .footer-info img {
    padding-left: 10%;
  }
}
@media only screen and (min-width: 1224px) {
  /******Header*********/
  body {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
  }
  .search-bar {
    margin-top: 50px;
    box-shadow: none;
  }
  .myform {
    padding: 0;
    margin-left: 50px;
  }
  .restaurant-search {
    padding: 30px 0 30px 0;
  }
  .restaurant-search h1 {
    font-size: 40px;
  }
  .different-steps {
    margin-bottom: 70px;
  }
  .different-steps h1 {
    position: relative;
    right: 440px;
    margin-top: 50px;
  }
  .btn-step {
    width: 305px;
  }
  .numberBadge {
    right: 88%;
  }
  .buttonSteps {
    margin-top: 0;
    flex-direction: row;
    justify-content: center;
  }
  .restaurant {
    margin-top: 0;
  }
  .restaurant .restaurant-cards {
    flex-direction: row;
    justify-content: center;
    gap: 5%;
  }
  .restaurant h1 {
    padding: 20px 0 30px 0;
    right: 435px;
    position: relative;
  }
  .footer-info {
    display: flex;
    justify-content: flex-end;
    height: 114px;
    align-items: center;
    gap: 5%;
  }
  .footer-info img {
    order: 2;
    padding: 0;
    margin-right: 50px;
  }
  .footer-info ul {
    padding: 0;
    margin: 0;
  }
}

/*# sourceMappingURL=style.css.map */
